<!DOCTYPE html>

<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <meta name="description" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/img/favicon/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}"
    />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/vendor/css/core.css') }}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}"
      class="template-customizer-theme-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/demo.css') }}"
    />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}"
    />

    <!-- Page CSS -->
    <!-- Page -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/vendor/css/pages/page-auth.css') }}"
    />
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="">
      <div>
        <!-- Layout container -->
        <div>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Custom file input -->
              <!-- File input -->
              <div class="card">
                <div class="card-body">
                  <div class="mb-3">
                    <label for="formFile" class="form-label"
                      >Add Input File</label
                    >
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                    /><br />
                    <label for="formRange2" class="form-label"
                      >Enter Training Set Range</label
                    >
                    <input
                      type="range"
                      class="form-range"
                      min="0"
                      max="5"
                      id="formRange2"
                    /><br /><br />
                    <label for="exampleFormControlSelect1" class="form-label"
                      >Enter Type of Dataset</label
                    >
                    <select
                      class="form-select"
                      id="exampleFormControlSelect1"
                      aria-label="Default select example"
                    >
                      <option value="1">Classification</option>
                      <option value="2">Regression</option>
                    </select>
                    <div class="row mt-3">
                      <div class="d-grid gap-2 col-lg-6 mx-auto">
                        <button class="btn btn-success btn-lg" type="button">
                          SUBMIT
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="mb-3"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
